h4 {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-area {
    margin: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.form-area h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-area .errors-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-area .alert {
    width: fit-content;
}

.form-area .mb-3 {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.form-area li {
    list-style-type: none;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

form .mb-3 {
    width: 100%;
}

form p {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: grey;
}

form label,
form input,
form button {
    width: 100%;
}



/*** signup ***/
#signup input {
    width: 100%;
}



/*** login ***/
#add-forms-area {
    width: 50%;
}




/*** REVIEW ***/
.reviews h4 {
    margin: 10px;
}

.reviews #add-review button {
    height: 30px;
    border-radius: 15px;
}

.reviews #content {
    margin: 30px 0 20px 0;
}

.reviews .display-area {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #00000024;
    padding-top: 10px;
}

.reviews .review-icon {
    margin: 0 15px 0 0;
}

.reviews .user-icon {
    width: 35px;
    height: 35px;
    letter-spacing: 15px;
    padding-left: 10.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #5B9EDC;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
}

.reviews .content-area {
    width: 100%;
}

.reviews .review-info {
    display: flex;
    justify-content: space-between;
}

.reviews .info {
    display: flex;
    flex-flow: row;
}

.reviews .user {
    margin-left: 10px;
    font-weight: 900;
}

.reviews .date {
    font-size: 0.8rem;
    color: #0009;
}

.reviews .review-content {
    justify-content: flex-start;
    margin-top: 7px;
}



/*** ADD REVIEW ***/
.form-container {
    text-align: center;
}

#add-forms-area {
    display: flex;
    justify-content: center;
}

#add-review-area .mb-3 {
    display: flex;
    justify-content: space-between;
}

#add-review-area .stars {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

#add-review-area .stars svg {
    color: #e1c819;
}

#add-forms .mb-3 {
    text-align: center;
}

#add-forms .mb-3 input,
#add-forms .mb-3 textarea {
    width: 100%;
}

#add-forms-area .stars {
    display: flex;
    flex-flow: row nowrap;
    color: #e1c819;
}

#add-forms-area .stars div {
    margin: 0 5px;
}

.stars-emptied {
    display: none;
}

#add-forms-area .form-control {
    border: 1px solid #5B9EDC;
}

.form-area button {
    width: 200px;
}



/*** TABLET ***/
@media (min-width: 768px) {

    /*** REVIEWS ***/
    .reviews #content {
        /* width: 50%; */
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .reviews .display-area {
        width: 50%;
    }
}



/*** DESKTOP ***/
@media (min-width: 1200px) {
    .reviews h2 {
        font-size: 2.5rem;
    }

    .reviews h4 {
        font-size: 1.7rem;
    }

    .reviews .stars svg {
        width: 25px;
        height: 25px;
    }

    .reviews p {
        font-size: 1.3rem;
    }

    .reviews #add-review button {
        padding: 30px 30px;
        border-radius: 20px;
    }

    .reviews .display-area {
        width: 60%;
    }

    .reviews .user-icon {
        height: 50px;
        width: 50px;
        padding-left: 15px;
        font-size: 1.8rem;
    }

    .reviews .date {
        font-size: 1.2rem;
    }



    /*** ADD REVIEW ***/
    .form-container h2,
    #add-review-area {
        width: 100%;
    }

    .form-area {
        width: 60%;
    }

    #add-review-area .stars {
        width: 200px;
    }
}