.spacer {
    display: flex;
    justify-content: center;
}

.spacer hr {
    width: 75%;
    opacity: 1;
    color: #ff008ddb;
}

section ul {
    padding: 0;
}

section ul li {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
}

section ul svg {
    margin-right: 10px;
    color: #005DD6;
}

section ul i {
    margin-right: 8px;
    color: #005DD6;
}

section ul p {
    font-size: 0.8rem;
}



/*** DESCRIPTION ***/
#description {
    margin-bottom: 20px;
}

#description img {
    width: 100%;
}

#description #family-area {
    position: absolute;
    top: 190px;
    text-align: center;
}

#description h3 {
    color: #005DD6;
    margin: 0 5%;
    text-align: center;
}

#description p {
    text-align: center;
    font-size: 0.85rem;
    color: #005DD6B3;
}



/*** BUSINESS ***/
#business {
    margin: 20px 10%;
}



/*** SERVICES ***/
#services {
    text-align: center;
    margin: 20px 10%;
}

#services ul {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#services ul li {
    width: 60%;
}

#services ul li svg,
#services ul li i {
    color: #ff008d70;
}

/* icons */
#services #house {
    color: brown;
}

#services #apartment {
    color: #ffc580;
}

#services #office {
    color: purple;
}

#services #commercial {
    color: black;
}

#services #construction {
    color: orange;
}

#services #senior {
    color: grey;
}

#services #detailed {
    color: #00f9;
}

#services #moving {
    color: #d77900;
}

#services #holiday {
    color: red;
}

#services #area {
    color: black;
}

#services #leaf {
    color: green;
}


#services #frequency {
    background-color: #005DD633;
}

#services #frequency h3 {
    margin: 0;
}

#services #frequency ul li {
    display: list-item;
    font-size: 0.85rem;
    margin: 3px 0;
    width: 40%;
    text-align: left;
}

#services #frequency ul li::marker {
    color: #E0467C;
}