body {
    margin: 0;
}



/*** HEADER ***/
header div {
    display: flex;
    flex-flow: row nowrap;
}

header ul {
    padding: 0;
}

header div {
    flex-flow: row wrap;
    background-color: #ff008d70;
}

header #contact {
    display: flex;
    padding: 0;
    margin: 0;
}

header li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 35px;
    height: 20px;
    width: 50%;
    box-sizing: border-box;
}

header .separator {
    border-left: 1px solid black;
}

header .hr {
    border-bottom: 1px solid #fff3;
}

header span {
    height: 16px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin: 5px;
}

header a:visited {
    color: white;
}

header a:hover {
    color: #ffffffc7;
}

header li svg {
    height: 11px;
}

header #brand-img {
    width: 100%;
}

header h2,
header h3,
header p {
    margin: 0;
    text-align: center;
}

header h2 {
    color: #ff008ddb;
    position: relative;
    left: 30px;
}



/*** TABLET ***/
@media(min-width: 768px) {
    header li {
        padding: 25px 0 25px 90px;
    }

    header li a {
        font-size: 1.3rem;
    }

    header li a svg {
        height: 17px;
        margin-right: 5px;
    }

    header #separator {
        height: 85px;
    }
}



/*** DESKTOP ***/
@media(min-width: 1200px) {
    header {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    header ul {
        width: 55%;
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    header #contact {
        display: flex;
        flex-flow: column;
        padding: 20px 0;
        background-color: white;
        width: 45%;
    }

    header #contact #button {
        background-color: #FF3385;
        padding: 5px 10px;
        border-radius: 5px;
    }

    header #contact #button a {
        color: white;
    }

    header #brand-img {
        width: 45%;
    }

    header #contact li {
        padding: 5px 15px;
        width: 320px;
        height: fit-content;
    }

    header .separator,
    header .hr {
        border: 0;
    }

    header #contact li div a {
        color: white;
    }

    header #contact #link {
        color: #FF3385;
        font-size: 1.5rem;
    }

    header #contact svg {
        height: 35px;
    }

    header #links {
        background-color: white;
        width: 55%;
        margin: 20px 0;
        flex-flow: row wrap;
        height: fit-content;
    }

    header #links li {
        /* padding: 20px 0 20px 20px; */
        padding: 20px 0;
        width: 50%
    }

    header #links li a {
        color: #c600c6;
    }
}