body {
    margin: 0;
}



/*** HEADER ***/
header #header-area {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    background-color: #CB2A6B;
}

header ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header div {
    flex-flow: row wrap;
}

header #contact ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
}

header li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0px;
    height: 20px;
    width: 50%;
    box-sizing: border-box;
}

#header-phone-off {
    display: none;
}

#footer-phone-off {
    display: none;
}

header #brand {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    /* justify-content: center; */
    padding: 5px 0 25px 0px;
}

header #brand p {
    display: flex;
    flex-flow: row nowrap;
}

header #account-link:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.account {
    display: none;
}

.account-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 145px;
    z-index: 1;
}

.account-content form {
    width: 70%;
}

.account-content form button {
    background-color: #CB2A6B;
    border: 0;
    color: pink;
}

header p {
    color: white;
    font-size: 0.8rem;
}

header #brand a {
    font-size: 0.8rem;
    margin: 0;
    color: white;
}

header .separator {
    border-left: 1px solid black;
}

header .hr {
    border-bottom: 1px solid #fff3;
}

header span {
    height: 16px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin: 5px;
}

header a:visited {
    color: white;
}

header a:hover {
    color: #ffffffc7;
}

header li svg {
    height: 11px;
}

header #brand img {
    width: 100%;
}

header h2,
header h3,
header p {
    margin: 0;
    text-align: center;
}

header h2 {
    color: #ff008ddb;
    position: relative;
    left: 30px;
}



/*** FOOTER ***/
footer {
    background-color: #CB2A6B;
    color: white;
    text-align: center;
}

footer div {
    padding: 20px 0;
    display: flex;
    flex-flow: column;
}

footer a {
    padding: 5px;
    color: white;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

footer a:hover {
    color: #ffffffc4;
}

footer svg {
    color: white;
    margin: 0 10px;
}

footer p {
    margin: 0;
}

footer #find-us svg {
    width: 30px;
    height: 30px;
}



/*** TABLET ***/
@media(min-width: 768px) {
    header li {
        padding: 25px 0 25px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .account-content form button {
        font-size: 1.2rem;
    }

    header #brand {
        padding: 15px 0 35px 0;
    }

    header #brand a {
        font-size: 1.3rem;
    }

    header li a {
        font-size: 1.3rem;
        /* width: 100%; */
    }

    header li a svg {
        height: 17px;
        /* margin-right: 5px; */
    }

    header #separator {
        height: 85px;
    }

    #header-phone-on {
        display: none;
    }

    #header-phone-off {
        display: block;
    }

    #footer-phone-on {
        display: none;
    }

    #footer-phone-off {
        display: flex;
    }
}



/*** DESKTOP ***/
@media(min-width: 1200px) {
    header {
        display: flex;
        flex-flow: row-reverse;
    }

    header #header-area {
        display: flex;
        flex-flow: column;
        background-color: white;
    }

    header nav {
        padding: 0 10px;
        width: 100%;
        height: 70px;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #CB2A6B;
    }

    header nav ul {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        margin: 0;
    }

    header nav li {
        margin: 0 10px;
        width: fit-content;
        padding: 0;
    }

    header nav a {
        display: flex;
        flex-flow: row wrap;
        width: fit-content;
    }

    header nav .hr,
    header nav .separator {
        padding: 0;
        border: 0;
        width: fit-content;
    }

    header #brand {
        width: fit-content;
        flex-flow: column;
        justify-content: flex-start;
        position: relative;
    }

    header #brand a {
        font-size: 1.3rem;
        color: white;
        display: flex;
        flex-flow: row nowrap;
        margin: 0 15px;
    }

    header #brand p {
        font-size: 1.2rem;
    }

    header #brand img {
        width: 100%;
        color: white;
    }

    header #account-content button {
        font-size: 1.3rem;
    }


    header #contact ul {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    header #contact li {
        border: 0;
    }

    header #contact a {
        color: #CB2A6B;
        font-size: 1.8rem;
        min-width: 325px;
        flex-flow: row wrap;
    }

    header #contact #header-phone-off {
        background-color: #CB2A6B;
        color: white;
        padding: 10px 20px;
        border-radius: 25px;
    }
}