body {
    margin: 0;
}

a:visited {
    color: #ffffffc7;
}

/*** HEADER ***/
header ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    background-color: #ff008ddb;
}

header li {
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 20px;
}

header #separator {
    height: 30px;
    width: 1px;
    border-right: 1px solid #000000b5;
}

header span {
    height: 16px;
}

header a {
    text-decoration: none;
    color: #ffffffc7;
    font-size: 0.7rem;
}

header li svg {
    color: white;
    height: 13px;
}

header #brand {
    display: flex;
    flex-flow: column;
    width: 80%;
}

header #brand div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header .leaf {
    color: green;
}

header .icon {
    font-size: 3em;
    margin-top: 10px;
}

header #brand-name {
    /* font-family: 'Cedarville Cursive', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

header h3 {
    margin: 0;
    display: flex;
}

header h2 {
    margin: 0;
}

header p {
    /* position: relative; */
    top: -12px;
    margin: 0;
    width: 80%;
    text-align: center;
    color: #ff008da6;
    font-size: 0.8rem;
}