.form-area {
    margin: 30px;
    text-align: center;
}

.form-area h2 {
    background-color: #F4BEDC;
    margin: 20px;
}

.form-area .errors-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-area .alert {
    width: fit-content;
}

.form-area p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

