/*** MAIN ***/
#schedules,
#services {
    margin: 30px 0;
}

.line {
    border-bottom: 1px solid #351d7775;
    margin: 0 10%;
}



/***  SCHEDULES ***/
#schedules ul {
    padding: 0 0 0 25px;
    margin: 0;
    list-style-type: none;
}

#schedules li {
    font-size: 1rem;
    color: #00000091;
}



/***  SERVICES ***/
#services div {
    text-align: center;
    margin: 30px 0;
}

#services h5 {
    font-size: 0.9rem;
}

#services p {
    font-size: 1rem;
    color: #00000091;
    margin: 7px;
}