{% extends 'index.html' %}
{% load static %}

{% block content %}
<section id="clients">
    {% if clients %}
    <h3>Your Clients ({{ totalClients }})</h3>
    <div id="content">
        <!-- clients -->
        {% for client in clients %}
        <!-- each client -->
        <div class="card border-info">
            <div class="card-header">{{ client.name }}</div>
            <div class="card-body">
                <p class="name"><span>Phone: </span>{{ client.phone }}</p>
                <p class="name"><span>Email: </span>{{ client.email }}</p>
                <p class="name"><span>Address: </span>{{ client.address }}</p>
                <p class="name"><span>Size: </span>{{ client.size }} square feet</p>
                <p class="name"><span>Roms: </span>{{ client.rooms }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>No Clients Yet</h3>
    {% endif %}
</section>
{% endblock %}