{% extends 'index.html' %}
{% load static %}
{% block content %}
<section id="services">
    <form action="" method="post">
        <div>
            <label>Residential Address</label>
            <input type="text" class="form-control">
        </div>

        <div class="address">
            <div>
                <label>City</label>
                <input type="text" class="form-control city">
            </div>
            <div>
                <label>State</label>
                <input type="text" class="form-control state">
            </div>
            <div>
                <label>Zip</label>
                <input type="text" class="form-control zip">
            </div>
        </div>

        <div>
            <button>Submit</button>
        </div>
    </form>
</section>
{% endblock %}