{% extends 'index.html' %}
{% load static %}

{% block content %}
<main>
    <section id="title">
        <div id="roof-image-area">
            <img src="{% static 'images/roof.png' %}" alt="roof">
        </div>
        <h2 id="marianas">Mariana's</h2>
        <h4>House Cleaning Service</h4>
    </section>
    <section id="cleaning">
        <div id="cleaning-area">
            <img src="{% static 'images/cleaning.jpg' %}" alt="cleaning">
            <p>We Take Care of Your House So You Can Enjoy Your Free Time without Worries.</p>
            <div id="button-area">
                <button type="button" class="btn">Call Now for a Free Estimate</button>
            </div>
        </div>

    </section>
    <section id="elderly">
        <img src="{% static 'images/elderly.jpg' %}" alt="elderly">
        <p>We support the elderly by giving a 10% discount because they have a difficult time cleaning.</p>
    </section>
</main>
{% endblock %}