<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariana's House Cleaning Services</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="{% static 'services.css' %}">
    <link rel="stylesheet" href="{% static 'reviews.css' %}">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=GFS+Didot&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div id="icon">
                <a href="/"><img src="{% static 'images/cleaning-brand.png' %}" alt="brand"></a>
            </div>
            <ul>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About Us</a></li>

                {% if user.is_authenticated %}
                <li id="brand">
                    <div id="account-link-area">
                        <span id="account-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                color="white" class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                            <p id="account-link" href="">{{ user|truncatechars:10 }}</p>
                        </span>
                    </div>
                    <div id="account-content" class="account">
                        <form action="/logout" method="POST">
                            <button type="submit">Logout</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </li>
                {% else %}
                <li id="brand">
                    <div id="account-link-area">
                        <span id="account-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                color="white" class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                            <p id="account-link" href="">Account</p>
                        </span>
                    </div>
                    <div id="account-content" class="account">
                        <a href="/login">Login</a>
                        <a href="/signup">Create Account</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>


    </header>
    {% block content %}{% endblock %}
    <footer>
        <div>
            <h5>Contact Us</h5>
            <p>817-629-7423</p>
            <p>marianashousecleaningllc@gmail.com</p>
        </div>
        <div>
            <h5>Find Us On</h5>
        </div>
    </footer>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- DOM -->
    <script src="{% static 'index.js' %}"></script>
</body>

</html>