{% extends 'index.html' %}
{% load static %}


{% block content %}
<main>
    <div class="line"></div>
    <section id="schedules">
        <h5>Frequency</h5>
        <ul>
            <li>Weekly</li>
            <li>Bi-Weekly</li>
            <li>Monthly</li>
            <li>One Time</li>
            <li>Move In / Out</li>
            <li>Commercial</li>
        </ul>
    </section>
    <div class="line"></div>
    <section id="services">
        <h4>What We Do During Our Visit Each Time at Your Home</h4>
        <div>
            <h5>Kitchen & Dinning</h5>
            <p>Clean Outside the Appliances</p>
            <p>Microwave in & out</p>
            <p>Clean & Disinfect all Countertops</p>
            <p>Clean Table & Chairs</p>
            <p>Dust & Spot Glass</p>
            <p>Empty & Replace Garbage</p>
            <p>Vacuum & Mop</p>
            <p>Wipe Cabinet Door</p>
        </div>
        <div>
            <h5>Bedrooms</h5>
            <p>Dust off all Furniture</p>
            <p>Dust Celling Fans, Blinds & Baseboards</p>
            <p>Make the Beds Tidy (provide the clean sheets)</p>
            <p>Dust Picture Frame, Decoration Vacuum & Mop</p>
        </div>
        <div>
            <h5>Bathrooms</h5>
            <p>Clean Counters, Sink & Cabinets</p>
            <p>Clean Mirrors</p>
            <p>Clean & Disinfect Toilets, Bathtubs & shower</p>
            <p>Wipe Cabinets</p>
        </div>
        <div>
            <h5>Other Areas</h5>
            <p>Dust & Disinfect</p>
            <p>Make Area Look Tidy</p>
            <p>Dust Railing & Bannister</p>
            <p>Dust Decoration</p>
            <p>Dust Ceilling Fans, Blinds, & Baseboards</p>
            <p>Empty & Replace Garbage</p>
            <p>Vacuum & Mop</p>
        </div>
        <div>
            <h5>Other Areas</h5>
            <p>Dust & disinfect</p>
            <p>Enpty & Replace Garbage</p>
            <p>Vacuum & Mop</p>
        </div>
    </section>
    <div class="line"></div>
</main>
{% endblock %}