{% extends 'index.html' %}
{% load static %}

{% block content %}

<div id="terms">
    <h1>Terms and Conditions</h1>

    <p>These policies are in place to help us deliver exceptional service to ALL our clients every visit.
        Please read through them carefully.</p>

    <p><strong>Cleaning Hours: &nbsp;</strong> We are available for cleaning Monday- Friday between
        7:30 AM – 5:00 PM, Holidays: We will not be working on New Year's Day, Good Friday, Memorial
        Day, Independence Day, Labor Day, Thanksgiving, and Christmas Day. We will also be closed when
        December 24th and 31st fall on a weekday (M-F). If your scheduled day falls on a holiday, we
        will call to reschedule. For the weeks of Thanksgiving and Christmas, we will need to know in
        advance to too secure a spot.</p>

    <p><strong>Cancellations: &nbsp;</strong> Any cancellations made within 48 hours will be charged a
        cancelation fee of 50% of your cleaning service. If you need to cancel, please contact me via
        text or call at (817)-629-7423. Any cancelation before 48 hours will not be charged. All
        cancellation fees must be paid on the day of the canceled cleaning service.</p>

    <p><strong>Inclement weather: &nbsp;</strong> If schools are closing in the DFW area for tornado,
        snow, or ice conditions, we will most likely reschedule your visit. In this case, we will
        notify you immediately to discuss a rescheduled date that fits your schedule.</p>

    <p><strong>Access to your home: &nbsp;</strong> We need access information to be current (garage
        code, gate code, alarm code, etc.) or have a key accessible if you are not physically home.
        If we arrive and we cannot access the inside of your home, we will attempt to contact you.
        If we cannot get a hold of you after 15 minutes, we will charge a same-day cancellation fee
        equal to your regular service charge. We will make every effort to arrive at your house
        promptly, but we cannot guarantee a specific time because of possible cancellations or prior
        cleans running longer than expected. Circumstances beyond our control, such as traffic,
        weather, or team illness, may affect our arrival time. Your flexibility and understanding
        in these situations are greatly appreciated. We will always do our best to inform you of
        any delays we may be experiencing.</p>

    <p><strong>Payment: &nbsp;</strong> Payment is due the same day of service or invoice date. We
        will charge an extra fee for your first initial clean because it will take us longer. Any
        unpaid payment past the service day will be charged a $25 late fee. Each day will be
        applied with an additional $10 if due. All prices will levy a tax fee. We accept Venmo,
        Cash, Zelle, and website payment. Tips are always welcomed by team members but are not
        required. For check and cash payments, please get in touch with me.</p>

    <p><strong>Rates Increased: &nbsp;</strong> We reserve the right to raise our rates anytime.
        You will be notified of a price increase.</p>

    <p><strong>Preparing for your cleaning visit: &nbsp;</strong> It is optional to clean your
        home before we arrive. This is what we are here for. However, if your home is cluttered
        with trash, a stockpile of personal/clothing items, and pet feces, please pick these items
        up to ensure that we have clear pathways to walk and work in. We also do not wash dishes
        and clothes. We also understand that kids leave toys lying around, but if it is getting
        to the point that we are picking up many toys, we will charge an additional fee. If this
        had to be done by one of our staff members, we would charge an additional $75 an hour for
        decluttering services aside from your regular/estimated cleaning fee. If you have valuable,
        fragile heirlooms that can break, please move them to where they are safe from accidental
        breakage or damage. The ideal cleaning situation is when no one is home. We know this is
        only not always possible. If you are home, please eliminate as many distractions as possible
        so we can work uninterrupted. We try to work as quickly yet as effective as possible.</p>

    <p><strong>Breakage and Damage: &nbsp;</strong> We will contact you immediately if an item
        becomes damaged or broken. If we miss something, please notify me as soon as possible.</p>

    <p><strong>Pets (Fur Babies): &nbsp;</strong> We love all animals. We believe that they need
        special care. If your fur baby is weary (or possibly aggressive) because of strangers or
        is sensitive to loud noises, we recommend they are in a safe place. We will love your fur
        babies like our own. However, we cannot clean up animal feces, urine, or vomit. We also
        do not clean out pet crates, cages, playpens, litter boxes, clean up puppy pads, or
        "scoop the poop." We also do not feed pets.</p>

    <p><strong>Biohazard Policy: &nbsp;</strong> We will clean anything, with a few exceptions.
        We will not clean human or animal blood, feces, vomit, or urine. We are not adequately
        insured nor licensed to handle Biohazard conditions. Urine on or around the toilet will
        be the only exception, as it will be sprayed with bleach before contact. If we encounter
        a biohazard situation, we will leave it as is, and we will notify you in person or by
        text if you are not home.</p>

    <p><strong>Supplies & Equipment: &nbsp;</strong> The client can supply cleaning products
        and equipment. However, we will not assume responsibility for any damages from using
        a preferred product or cleaning equipment provided by a client. If a client request that
        we use their cleaning equipment and it becomes damaged, we will also not assume
        responsibility. We need to find out the condition it was in before usage. We can also
        provide cleaning supplies depending on your needs.</p>

    <p><strong>Theft: &nbsp;</strong> We do not tolerate theft by any of our staff members.
        We understand that it is hard to trust others in your home whom you are not familiar
        with. We advise that you notify us immediately if you notice something is missing. We
        empty all the small trash cans in the home. We do not move, stow away, or hide items from
        their original place. We will investigate and work with you if something in your home goes
        missing. We value you as a client and genuinely appreciate your trusting us in your home.</p>

    <p><strong>Social Media Release/Quality Control: &nbsp;</strong> For advertising purposes, we
        reserve the right to take pictures of our work in your home before and after. We will NOT
        identify you by name nor picture any personal/valuable items in our photos. We also take
        photos to ensure quality control. We appreciate you and look forward to serving you!</p>

    <p><strong>Non-Solicitation of Employees: &nbsp</strong><span id="solicit"> AS THE CLIENT, YOU CAN NOT DIRECTLY OR
        INDIRECTLY SOLICIT, HIRE, RECRUIT, OR OFFER JOBS TO ANY OF OUR STAFF MEMBERS.</span></p>
    
    <p><strong>I, as the client, agree to all conditions and terms present here.</strong></p>

    

</div>

{% endblock %}